.exercise .title {
  text-align: center;
}
.exercise {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.title {
  align-items: center;
  justify-content: center;
  font-size: large;
  background-color: rgb(91, 98, 98);
  height: 120px;
  width: 100%;
  display: flex;
}
.exercise .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.exercise .header ul {
  padding: 0;
  margin: 0;

  list-style: none;
  display: flex;
  gap: 1rem;
}

.exercise .exercisecontent{
  align-content: center;
  display: block;
 text-align: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  border: 1px;
  border-color: white;
  border-radius: 4px;
  color: var(--pure-white);
  padding: 10px 20px;
  font-size: 18px;


}