.exercise-card{
  width: 360px;
  height: 220px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 16px 32px;
  background:rgb(133, 65, 65);
}
.card-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -20px;
  margin-left: -10px;
}
.card-header img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.titles{
  color: white;
  margin-left: 10px;
  font-size: 35px;
}
.card-stats{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardStat{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}
.cardStat p{
  color: white;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 0;
}
.cardStat span{
  font-size: 40px;
  color: white;
  font-weight: 400;
}
.card-meta{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
small{
  color: white;
}
.categoryy{
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px 12px;
}

/* .exercise .title {
  text-align: center;
}
.exercise {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.title {
  align-items: center;
  justify-content: center;
  font-size: large;
  background-color: rgb(91, 98, 98);
  height: 120px;
  width: 100%;
  display: flex;
}
.exercise .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.exercise .header ul {
  padding: 0;
  margin: 0;

  list-style: none;
  display: flex;
  gap: 1rem;
}

.exercise .exercisecontent{
  align-content: center;
  display: block;
 text-align: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  border: 1px;
  border-color: white;
  border-radius: 4px;
  color: var(--pure-white);
  padding: 10px 20px;
  font-size: 18px;


} */